<div id="aboutPartial">
<div>
    <div class="row">
        <div class="col-xs-12">
            <h3>About</h3><br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-scrollable-body">
                <p>
                    Profile Sticker is about making your profile pictures look cooler and ensuring it stands out from the crowd.
                </p>
                <p>
                    If you've loved Profile Sticker, please do follow us on various social media platforms and share this site with your friends and loved ones.
                </p>
                <p>
                    <div class="col-xs-12 text-center" style="margin:18px 4px;">
                        <span class="social-media">
                            <a href="https://www.facebook.com/profilesticker/" target="_blank" onclick="clickSocialMediaLink('facebook');"><i class="mdi mdi-facebook-box mdi-24px"></i></a>
                        </span>
                        <span class="social-media">
                            <a href="https://www.instagram.com/profilesticker/" target="_blank" onclick="clickSocialMediaLink('instagram');"><i class="mdi mdi-instagram mdi-24px"></i></a>
                        </span>
                        <span class="social-media">
                            <a href="https://www.twitter.com/profilesticker" target="_blank" onclick="clickSocialMediaLink('twitter');"><i class="mdi mdi-twitter mdi-24px"></i></a>
                        </span>
                        <span class="social-media">
                            <a href="https://www.youtube.com/channel/UCtUfowC9rS6nKNw_aS6Tdag" target="_blank" onclick="clickSocialMediaLink('youtube');"><i class="mdi mdi-youtube-play mdi-24px"></i></a>
                        </span>
                    </div><br />
                </p>
                <div>
                    <p>
                       If you'd like to advertise on this site or if you'd like to donate to keep this site up and running, please find the details 
                       <a href="https://github.com/profilesticker/profilesticker.github.io/wiki/Advertise" target="_blank" onclick="sendNavigationEventTracking('GitHub Advertise', 'About modal');">here</a> and feel free to write to us.
                    </p>
                </div>
                <div>
                    <p>If you're keen to contribute, you may find more details <a href="https://github.com/profilesticker/profilesticker.github.io/wiki/Contribute" target="_blank" onclick="sendNavigationEventTracking('GitHub Contribute', 'About modal');">here</a>. 
                    Contributions open not only to developers but also to designers who'd like to add one of 
                    their designs in a particular category. If you're a design institute and would like to collaborate, please feel free to write to us.</p>
                </div>
                <p>Profile Sticker is crafted by <a href="http://clydedsouza.net" target="_blank" title="Clyde's website'" data-toggle="tooltip" onclick="sendNavigationEventTracking('www.clydedsouza.net', 'About modal');">Clyde D'Souza</a>.</p>
                <p>All copyrights belong to their respective owners. More details can be found <a href="https://github.com/profilesticker/profilesticker.github.io/wiki/Credits" target="_blank" onclick="sendNavigationEventTracking('GitHub Credits', 'About modal');">here</a></p>
                <p>Also visit our <a href="/faq">frequently asked questions page</a>.</p>
            </div>
        </div>
    </div>    
</div>
</div>