<div id="canvasNotSupportedPartial">
    <div class="canvas-not-supported">
        <div class="contrast-row">
            <div class="container">
                <div class="row home-banner">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                        <h3>Apologies, but it seems like your browser does not support HTML Canvas.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">               
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                        <br />
                        <div>
                            <h4>Canvas is supported in the following browser versions and above.</h4>
                        </div>
                        <div class="browser-table">
                            <img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/firefox/firefox_128x128.png" />
                            <div><b>Firefox</b></div>
                            <small>2.0</small>
                        </div>
                        <div class="browser-table">
                            <img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/chrome/chrome_128x128.png" />
                            <div><b>Chrome</b></div>
                            <small>4.0</small>
                        </div>
                        <div class="browser-table">
                            <img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/edge/edge_128x128.png" />
                            <div><b>Edge</b></div>
                            <small>9.0</small>
                        </div>
                        <div class="browser-table">
                            <img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/safari/safari_128x128.png" />
                            <div><b>Safari</b></div>
                            <small>3.1</small>
                        </div>
                        <div class="browser-table">
                            <img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/opera/opera_128x128.png" />
                            <div><b>Opera</b></div>
                            <small>9.0</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                        <p>Try updating your browser to the latest version and then visit Profile Sticker again.<br />Read more about canvas <a href="https://www.w3schools.com/html/html5_canvas.asp" target="_blank">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>