<div id="comingSoonPartial">
    <div class="coming-soon">
        <div class="container">
            <div class="row text-center"> 
                <div class="col-xs-12"><p>Going online on</p></div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="block">
                    <div>01</div>
                </div>
                <div class="block">
                    <div>07</div>
                </div>
                <div class="block">
                    <div>17</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12"> 
                    <p>1st July 2017 New Zealand Standard Time (NZST)</p>
                    <p>Stay tuned!</p>
                </div>
            </div>
        </div>
    </div>
</div>