<div id="footerPartial">
<div>
    <div class="container animated slideInUp">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="footer-links">
                    <a onclick="loadAboutModal();" class="link-button" data-toggle="modal" data-target="#commonModal">About</a>
                    <a onclick="loadLegalModal();" class="link-button" data-toggle="modal" data-target="#commonModal">Legal</a>
                    <a href="/faq/" class="link-button" onclick="sendNavigationEventTracking('FAQ', 'Footer');">FAQs</a>
                    <a href="/ideas/" class="link-button" onclick="sendNavigationEventTracking('Ideas', 'Footer');">Ideas</a>
                    <a href="/issues/" class="link-button" onclick="sendNavigationEventTracking('Issues', 'Footer');">Issues</a>
                    <span class="copy">&copy; 2019 Clyde D'Souza</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="social-media">
                    <a href="https://www.facebook.com/profilesticker/" target="_blank"  onclick="clickSocialMediaLink('facebook');"><i class="mdi mdi-facebook-box mdi-24px"></i></a>
                </span>
                <span class="social-media">
                    <a href="https://www.instagram.com/profilesticker/" target="_blank" onclick="clickSocialMediaLink('instagram');"><i class="mdi mdi-instagram mdi-24px"></i></a>
                </span>
                <span class="social-media">
                    <a href="https://www.twitter.com/profilesticker" target="_blank" onclick="clickSocialMediaLink('twitter');"><i class="mdi mdi-twitter mdi-24px"></i></a>
                </span>
                <span class="social-media">
                    <a href="https://www.youtube.com/channel/UCtUfowC9rS6nKNw_aS6Tdag" target="_blank" onclick="clickSocialMediaLink('youtube');"><i class="mdi mdi-youtube-play mdi-24px"></i></a>
                </span>
            </div>
        </div>
    </div>   
</div>
</div>