<div id="previewedStickerPartial">
<div class="preview-sticker-area">
    {{#stickerNode}}
    <div>
        <h3 id="previewedTitle">{{title}}</h3>
        <div id="previewedCategory">in {{categoryName}}</div>
        <div id="previewedUrl">by <a href="{{designedByWebsite}}" target="_blank" data-toggle="tooltip" title="Visit {{designedByFullname}}'s website">{{designedByFullname}}</a></div>
        <div id="previewedImageUrl" data-imageUrl="{{image}}"></div>
    </div>
    {{/stickerNode}}
</div>
</div>