<div id="websiteHeaderPartial">
<div>
    <div class="container">
        <div class="row page-heading">
            <div class="col-xs-4 col-sm-2 text-left">
                <img src="images/logo/ProfileStickerLogo.png" onclick="switchToHomePage();" class="animated fadeIn" />
            </div>
            <div class="col-xs-8 col-sm-3 col-sm-push-7 text-right">
                <div>
                    <small>Share this site</small>
                </div>
                <span class="social-media">
                    <span onclick="clickShareSocialMedia('facebook');"><i class="mdi mdi-facebook-box mdi-24px"></i></span>
                </span>
                <span class="social-media">
                    <span onclick="clickShareSocialMedia('twitter');"><i class="mdi mdi-twitter mdi-24px"></i></span>
                </span>
                <span class="social-media">
                    <span onclick="clickShareSocialMedia('linkedin');"><i class="mdi mdi-linkedin-box mdi-24px"></i></span>
                </span>
            </div>
            <div class="col-xs-12 col-sm-7 col-sm-pull-3 text-center">
                <h1>Add a sticker to your profile picture in just 4 easy steps.</h1>
            </div>
        </div>
    </div> 
</div>
</div>