.transition-all {
     transition: all .2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.off-focus{
    zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.off-focus-light{
    zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.off-focus-dark{
    zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}


