@import "fonts";
@import "colors";
@import "animation";

/* General button behaviour */
.general-button, .general-button:active, .general-button:visited {
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    white-space: normal;
    @extend .transition-all;
}

.general-button:hover, .general-button:focus {
    @extend .general-button;
    text-decoration: underline;
}


/* Link button */
.link-button, .link-button:active, .link-button:visited {
    @extend .general-button;
    color: $medium-color;
    cursor: pointer;
}

.link-button:hover, .link-button:focus {
    color: $light-color;
}

.link-button-simple, .link-button-simple:active, .link-button-simple:visited {
    @extend .link-button;
    font-family: initial;
}

.link-button-simple:hover, .link-button-simple:focus {
    @extend .link-button:hover;
}


/* Button */
.button, .button:active, .button:visited {
    @extend .general-button;
    color: $light-gray;
    background-color: $dark-gray;
    font-family: $primary-font;
}

.button:hover, .button:focus {
    text-decoration: none;
    color: $light-color;
    background-color: lighten($dark-gray, 12%);
}

.button-simple, .button-simple:active, .button-simple:visited {
    @extend .button;
    font-family: initial;
}

.button-simple:hover, .button-simple:focus {
    @extend .button:hover;
}

/* Button inverse */
.button-inverse, .button-inverse:active, .button-inverse:visited {
    @extend .general-button;
    color: $dark-gray;
    background-color: darken($light-gray, 8%);
    font-family: $primary-font;
}

.button-inverse:hover, .button-inverse:focus {
    text-decoration: none;
    color: $dark-gray;
    background-color: darken($light-gray, 5%);
}

/* Button inverse */
.button-transparent, .button-transparent:active, .button-transparent:visited {
    @extend .general-button;
    color: $dark-gray;
    outline: none;
    background-color: $light-gray;
}

.button-transparent:hover, .button-transparent:focus {
    text-decoration: none;
    background-color: darken($light-gray, 5%);
}

/* Facebook button */
.facebook-button, .facebook-button:active, .facebook-button:visited {
    @extend .general-button;
    color: $light-color;
    background-color: lighten($facebook-color, 4%);
    font-family: $primary-font;
}

.facebook-button:hover, .facebook-button:focus {
    text-decoration: none;
    color: $light-color;
    background-color: lighten($facebook-color, 12%);
}

/* General site links */
a, a:active, a:visited {
    color: $dark-gray;
    @extend .transition-all;
}

a:hover, a:focus {
    color: $dark-gray;
    text-decoration: underline;
}


/* Apply preview toggle */
input#defaultToggle, input#unitsToggle {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}

input#defaultToggle + label, input#unitsToggle + label {
    position: relative;
    box-shadow: inset 0 0 0px 1px $light-gray;
    text-indent: -5000px;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    float: left;
    top: 6px;
    cursor: pointer;
}

input#defaultToggle + label:before, input#unitsToggle + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 13px;
    width: 46px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: $dark-gray;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#defaultToggle + label:after, input#unitsToggle + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    top: -3px;
    left: 0;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#defaultToggle:checked + label:before, input#unitsToggle:checked + label:before {
    width: 46px;
    background: $medium-color;
}

input#defaultToggle:checked + label:after, input#unitsToggle:checked + label:after {
    left: 26px;
    box-shadow: inset 0 0 0 1px #655643, 0 2px 4px rgba(0, 0, 0, 0.2);
}
